.title {
  text-align: center;
  font-size: 54px;
  margin: 5px;
}

.timerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  padding: 20px;
  border: 2px solid red;
}

.description {
  font-size: 18px;
  text-transform: capitalize;
}

.btn {
  display: block;
  margin: 20px;
}

.timer {
  display: none;
  font-size: 48px;
  font-weight: 500;
}

.finishText {
  display: none;
  font-size: 52px;
  color: #fff;
  margin: 5px;
}

.treasureImg {
  display: none;
  width: 180px;
  height: 180px;
  position: absolute;
  z-index: 99;
  border-radius: 100%;
}

.treasureMap {
  background-image: url(./treasure-map.jpg);
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 22;
  position: relative;
}

.treasureMap:after {
  padding-top: 39%;
  display: block;
  content: "";
}

.treasureMapBox{
  display: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 44;
}

span {
  padding: 9px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #df0404d9;
  color: #fff;
  z-index: 77;
}

.bombImg{
  background-image: url(./bomb.jpeg);
  width: 365px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 88;
  top: 0;
}

.timerBomb{
  position: absolute;
    margin: 0 auto;
    top: 53%;
    left: 35%;
    padding: 5px;
    color: #FFF;
    background-color: rgba(224, 21, 79, 0.78);
    font-size: 29px;
}

.explosion{
  background-image: url(./explosion.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}

