.title {
  text-align: center;
  font-size: 54px;
  margin: 0;
  background-color: #c6a77b;
  color: #3a312a;
}

.timerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  padding: 20px;
  background-color: #c3a478;
  border: 2px solid #523314;
  color: #fff;
}

.description {
  font-size: 18px;
  text-transform: capitalize;
}

.btn {
  display: block;
  margin: 20px;
}

.timer {
  display: none;
  font-size: 48px;
  font-weight: 500;
}

.hearts i{
  margin: 5px;
  font-size: 20px;
  color: red;
}

.finishText {
  display: none;
  font-size: 52px;
  color: #fff;
  margin: 5px;
}

.treasureImg {
  display: none;
  width: 180px;
  height: 180px;
  position: absolute;
  z-index: 99;
  border-radius: 100%;
}

.chanceText{
  font-size: 60px;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
}

.treasureMap {
  background-image: url(./treasure-map.jpg);
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 22;
  position: relative;
}

.treasureMap:after {
  padding-top: 42.5%;
  display: block;
  content: "";
}

span {
  padding: 9px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #df0404d9;
  color: #fff;
  z-index: 77;
}

.explosion {
  display: none;
  background-image: url(./explosion.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  color: #fff;
  overflow: hidden;
}
